<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="site-head">
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        
    <style>
   
    </style>
     
    </head>
    <body>
       
        <div id="bab" th:fragment="site-header">
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-down">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img style="height:40px;" src="/images/brandii.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store-x">Store</a>
        </li>
		
         
        
      </ul>
     
    </div>
  </div>
</nav>
            
                     
                
                 
                  
                 
        
        </div>
        <div id="main-content">
            
           
        </div>
         <div id="fot" th:fragment="site-footer">
         
         <div class="container">
   <footer class="pt-4 my-md-5 pt-md-5 border-top bg-light">
    <div class="row">
      <div class="col-sm  text-center">
	   <h5>Tools and Services</h5>
        

      </div>
      <div class="col-sm text-center">
        <h5>Contact</h5>
         <ul class="list-unstyled text-small">
          <li>Email:hollysmile11@gmail.com</li>
          
          <li>Telephone: +2347062900317</li>
          
        </ul>
        
      </div>
      <div class="col-sm text-center">
	          <img class="mb-2" src="/images/brandii.png" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted"> &copy; 2021</small>
       
      </div>
     
    </div>
  </footer>
  </div>
           
                 
            
        </div>
        
    </body>
</html>